{% extends "layout.html" %}
{% set active = 'help' -%}
{% block title %}公司概况{% endblock %}
{% block content %}
  <div class="page-header">
    <h1>Flask Todo Demo <small>a Python port of the LeanEngine demo <a href="https://todo-demo.leanapp.cn/todos">LeanTodo</a>.</small></h1>
  </div>
  <div class="row">
    <div class="col-md-9">
      <article>
        <h2 id="sec1">公司简介</h2>
        <p>双桥投资发展股份有限公司 <a href='https://www.baidu.com' target='_blank'>LeanEngine</a> 是一个牛逼的公司。</p>
               
        <h2 id="sec2">公司成员</h2>
        <p>公司阵容非常豪华，均来自国际大都会响水陈家港西边的农村，目前大部分成员以变成了城里人非常牛逼</p>
        <p>简单来讲：</p>
        <pre>
董事长     高启峰 公司主要负责人、创世神、人称孤单又灿烂的神。
副董事长   王南犬 公司二把手 擅长风险投资，砖石王老五。
总经理     董剑   公司投资人，资本实力强大。另负责公司产品的研发。
常务总经理 周雍   负责公司人事及财务方面工作，情场杀手。
        </pre>
        <h2 id="sec3">公司业务</h2>
        <p>公司业务主要是投资，和高科技产品的研发和销售</p>
        <h3>联系方式</h3>
        <p>电话暂时还不能放在上面</p>
      </article>
    </div>
    <div class="col-md-3">
      <h2>公司概况</h2>
      <ul class="list-unstyled">
        <li><a href="#sec1">公司简介</a></li>
        <li><a href="#sec2">公司成员</a></li>
        <li><a href="#sec3">公司业务</a></li>
      </ul>
      <h2>兄弟单位</h2>
      <ul class="list-unstyled">
        <li><a target='_blank' href="https://www.baidu.com">百度</a></li>
      </ul>
    </div>
  </div>
{% endblock %}